.footer{
    padding: $separacion / 2 0;
    background-color: $grisOscuro;
    margin-bottom: 0;

    .contenido-footer {
        padding-top: $separacion / 2;

    }
    .navegacion {
        visibility: visible;
        height: auto;
        opacity: 1;
    }
    .copyright {
        text-align: center;
        color: $blanco;
        font-size: 1.4rem;
    }
}