.footer{
    padding: $separacion / 2 0;
    background-color: $grisOscuro;

    .contenido-footer {
        padding-top: $separacion / 2;

    }
    .copyright {
        text-align: center;
        color: $blanco;
        font-size: 1.4rem;
    }
}