.testimonial {
    background-color: $verde;
    font-size: 2.4rem;
    padding: 2rem;
    color: $blanco;
    border-radius: 2.5rem;
    
    blockquote {
        padding-left: 5rem;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            background-image: url(../img/comilla.svg);
            background-repeat: no-repeat;
            width: 6rem;
            height: 8rem;
            display: block;
            left: -2rem;
        }
    }
    p {
        font-style: italic;
        text-align: right;
        color: $blanco;
    }
    
}